:root {
    --footer-color: #cf2c30;
    --green-new: #29CF00;
}
/*fonts*/
/*'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;700&display=swap');

/* reset webpage style */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.05em;
}
a { color: inherit; }

/* Apply centering and width=960px (pill) */
body {
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}

/*                   HEADER CSS AREA                 */

/* Navigation bar */
header {
    margin-bottom: 1%;
}
.navbar {
    display: flex;
    flex-direction: row;
}
nav {
    margin: 0 auto;
}
.navbar-links {
    display: flex;
}
.navbar-links li {
    margin: 0.5em ;
    font-size: 1.0em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2em 0.5em;
}
.navbar-links a {
    color: var(--footer-color);
}

/* Change size logo */
#logo img {
    width: 58px;
}


/*                          MAIN CSS AREA                       */
/* Categories */
#first-line {
    background-image: url("assets/img/home-page/first-line.jpg");
    height: 20em;
    background-size: cover;
    background-position: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.9;
    /* margin-bottom: 12px; */
}

#second-line {
    height: 20em;
    display: flex;
    margin: 12px 0;
}

#third-line {
    height: 13em;
    display: flex;
    margin: 12px 0;
}

.items-second h2, .items-third h2 {
    font-size: 1.2em;
    padding-top: 2em;
}

.items-second button, .items-third button {
    margin-top: 3em;
}

#second-line_item1 {
    background-image: url("assets/img/home-page/second-line1.jpg");
    width: 312px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 12px;
    opacity: 0.9;
}

#second-line_item2 {
    background-image: url("assets/img/home-page/second-line2.jpg");
    width: 312px;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 12px;
    opacity: 0.9;
}

#second-line_item3 {
    background-image: url("assets/img/home-page/second-line3.jpg");
    width: 312px;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0.9;
}

.link-categories {
    height: 16px;
    width: 104px;
    background-color: white;
    border: none;
    font-size: 0.5em;
    font-weight: 600;
}

.link-categories a {
    color: black;
}

#third-line {
    height: 20em;
    display: flex;
    margin: 12px 0;
}

#third-line_item1 {
    background-image: url("assets/img/home-page/third-line1.jpg");
    width: 474px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 12px;
    opacity: 0.9;
}

#third-line_item2 {
    background-image: url("assets/img/home-page/third-line2.jpg");
    width: 474px;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0.9;
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

#newsletter p {
    padding: 0.8em 0;
    font-size: 0.7em;
    font-weight: 700;
}

.link-newsletter {
    height: 16px;
    width: 170px;
    background-color: var(--footer-color);
    border: none;
    font-size: 0.6em;
    font-weight: 500;
    margin-top: 0.5em;
}

.link-newsletter a {
    color: white;
}

/*                          FOOTER CSS AREA                       */
/* Footer left */
footer {
    background-color: var(--footer-color);
    display: flex;
    align-items: baseline;
    color: white;
    font-size: 0.7em;
}

#items-footer {
    display: flex;
    justify-content: space-evenly;
    flex: 70%;
    margin-bottom: 2.5em;
}

.item-footer {
    margin-top: 2.5em;
}

footer h3 {
    padding: 0.7em 0;
}

.margin-items-footer {
    margin: 10px 0;
    color: white;
}

/* Footer right */

#footer-rigth{
    display: flex;
    flex-direction: column;
    flex: 30%
}

#items-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5em;
}

#primero .item-primero {
    padding-bottom: 0.3em;
}

#primero p {
    padding: 0.2em 0;
}

#segundo {
    padding-top: 2.5em 0 2.5em 0;
}

#segundo p {
    padding: 0.6em 0;
}

#tercero p {
    margin-top: 7em;
}

.icons {
    padding: 0.25em 0.5em 0.25em 0;
}

/***************************************************************************************         FILE FAQ         *************************************************************************************/
/*                          FAQ CSS AREA                       */

#faq-first-line {
    /* background-image: url("assets/img/home-page/faq-first-line.jpg"); */
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footer-color);
    /* margin-bottom: 12px; */
}

#faq-first-line h2 {
    font-size: 2em;
    font-weight: 800;
}


#faq-second-line {
    background-image: url("assets/img/home-page/faq-first-line.jpg");
    height: 20em;
    background-size: cover;
    background-position: center left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#faq-second-line h2{
    font-size: 2em;
    font-weight: 800;
}

#faq-third-line {
    height: auto;
    width: auto;
    margin: 3em;
    display: flex;
    flex-direction: column;
    font-size: 9px;
}

.faq-third-line_items {
    display: flex;
    margin: 2em;
    align-items: center;
}

.faq-third-line_items h3 {
    font-weight: bold;
    text-align: right;
}

.title-items {
    flex: 40%;
    margin: 2em;
    font-size: 11px;
}

.text-items {
    flex: 60%;
    border-left: 0.2em solid var(--footer-color);
    padding-left: 2em;
    font-size: 10px;
}

.text-items p {
    padding: 0.5em;
    line-height: 1.6;
}

.text-items a {
    color: var(--footer-color);
    margin-left: 1em;
    font-size: 8px;
}

.icons {
    padding: 0.25em 0.5em 0.25em 0;
    color: var(--footer-color);
}


/*PRODUCT PAGE*/

/*breadcrumbs*/
#breadcrumbs {
    width: 100%; margin-bottom: 2em;
}
#breadcrumbs:hover {
    text-decoration: underline;    
    cursor: pointer;
}

/*image-selection*/
#images-column ul {
    display: flex;
    flex-direction: column;
}
#images-column li {
    margin: 0 auto;
}
#images-column li:hover {
    border: solid 1px lightgray;
    opacity: 0.7;
}
#images-column li:active {
    transform: scale(0.9);
}
#images-column li img {
    width: 100%;
    margin: 2px 0;
}
#product-image {
    display: flex;
    margin-right: 1em;
}
#main-new {
    position: relative;
}
.new-product {
    padding: 0.2em 0.2em;
    color: var(--green-new);
    position: absolute;
    right: 2em;
    top: 1em;
    font-weight: 900;
    font-size: 1.4em;
}
#product-image .new-product {
    justify-content: right;
}
#images-column {
    width:10em;
    height: 400px;
    margin-right: 1em;
}
#arrow-left img, #arrow-right img {
    width: 1em;
    opacity: 0.3;
}
#arrow-left:hover, #arrow-right:hover {
    transform: scale(1.5);
}
#arrow-left:active, #arrow-right:active {
    transform: scale(0.9);
}
/*product-image*/
#product-image {
    flex: auto;
}
#product-image img {
    margin: auto 0;
    width: 100%;
}
/*arrows*/
#arrow-left {
    margin: auto 0.5em;
    flex: 5%;
}
#arrow-left img {
    transform: rotate(180deg);
}
#arrow-right {
    margin: auto 0.5em;
    flex: 5%;
}
/*image-display*/
#product-selection {
    display: flex;
}

/*product-containers*/
#product-left {
    display: flex;
    padding-bottom: 10%;
    flex: 5;
}
#product-right {
    flex: 3;
}
 
/*product-right*/
#product-data * {
}
#product-data h2, #product-price {
    font-size: 1.8em;
    letter-spacing: 0.5;
}
#product-price {
    margin: 0.8em 0;
    font-weight: 600;
}
#serial-num {
    font-size: 0.9em;
}
/*color-list*/
#color-product {
    font-size: 0.9em;
}
#color-list img {
   opacity: 0.95;
   transition: 0.5s;
}
#color-product span{
    font-weight: bold;
}

#color-list ul{
    display: flex;
}
#color-list li {
    margin: 0 auto;
}
#color-list li img:hover {
    box-shadow:0px 0px 0px 1px black inset;
    border-radius:10%;
}
#color-list li img:active {
    transform: scale(0.9);
}
#color-list li img {
    width: 100%;
    margin: 1em 0;
}
#exchanges {
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 3em;
    
}
/*size-selection*/
#size-selection {
    display: flex;
    justify-content: space-between;
}

#size-selection p {
    font-size: 10px;
}
#size-selection a {
    font-size: 10px;
    text-decoration: underline;
}
#size-list { margin: 1em 0; padding-right: 40%;}
#size-list ul{
    display: flex;
}
#size-list li {
    border: 1px solid grey;
    border-radius: 100%;
    padding:0.5em;
    margin: 0 auto;
    font-size: 0.9em;
}
#size-list li:hover {
    transform: scale(1.2);
}
#size-list li:active {
    transform: scale(1);
}
/*product-button*/
#product-button {
    margin: 3em 0;
}
#product-button-subtext p {
    margin-top: 2.5em;
    font-size: 0.9em;
    margin-bottom: 2em;
}
#product-button a {
    background-color: var(--footer-color);
    color: white;
    font-weight: bold;
    padding: 1em 14em;
}
#product-button a:hover {
    opacity: 0.95;
}
#product-button:active {
    transform: scale(0.99);
}

/*drop-down*/
.drop-content {
    display: flex;
    flex-direction: column;
}
#drop-down { 
    background-color:#B6B6B6;
    margin: 0.5em;
    font-size: 0.7em;
    padding: 0.5em;
}
.drop-info{
    flex: 1;
}
.drop-info p {
    padding: 1px;
    position: relative;
    top: 50%;
}
.drop-info-low p {
    margin-top:2em;
}
#drop-down img {
    float: left;
    padding: 0.5em;
    width: 60px;
}
.drop-row {
    display: flex;
    justify-content: space-between;
}
#media-icons {
    display: flex;
}
#media-icons article {
    margin: 0 auto;
}
#media-icons img {
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.5em;
    margin-top: 1.5em;
}
#media-icons img:hover {
    transform: scale(1.3);
}
#media-icons img:active {
    transform: scale(1);
}
/*drop-down-menu*/
.drop-down-button {
    border-bottom: 2px solid lightgrey;
    font-size: 0.9em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0.3em 0;
}
.drop-down-button img {
    width: 0.6em;
    transform: rotate(270deg);
    margin-right: 1em;
}
.drop-down-button:active > img {
    transform: rotate(90deg);
}
.arrow-up img {
    transform: rotate(90deg);
}
.arrow-up:active > img {
    transform: rotate(270deg);
}


/*more-products*/
#more-products { 
    margin-top: 3em;
    margin-bottom: 4em;
    display: flex; 
}
.more-products {
    width: 240px;
}

.more-products img {
    width: 100%;
    padding-top: 7em;
    padding: 7em 2em 1em 2em ;
    max-width: 100%;
    max-width: 100%;
}
.more-products img:hover {
    transform: scale(1.2);
}
.more-products:hover > .more-products-info {
    transform: translateY(2em);
}
.more-products-info {
    text-align: center;
}

.more-name {
    font-size: 1em;
}
.more-price {
    font-weight: bold;
    font-size: 0.9em;
}
.more-colors {
    opacity: 0.7;
    font-size: 0.8em;
}
/*productB*/
#jordans-main {
    filter: contrast(1.3);
}

/*CATEGORY PAGE*/


