/* =========================================	RESET CSS AREA ========================================= */

*{
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    max-width: 960px;
}

/* =========================================	GRID CSS AREA ========================================= */

[class*="col-"]{
	float:left;
	width:100%;
	/* border:1px solid red; */
	padding: 10px 15px 10px 10px;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px) {
	.col-xs-1 {width: 8.33%;}
	.col-xs-2 {width: 16.66%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.33%;}
	.col-xs-5 {width: 41.66%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.33%;}
	.col-xs-8 {width: 66.66%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.33%;}
	.col-xs-11 {width: 91.66%;}
	.col-xs-12 {width: 100%;}	

	.d-xs-none{display:none;}
	.d-xs-block{display:block;}

}

/* portrait e-readers (Nook/Kindle),
smaller tablets @ 600 or @ 640 wide.*/ 
@media (min-width:481px) {}

/* portrait tablets, portrait iPad, landscape e-readers,
 landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}	

	.d-sm-none{display:none;}
	.d-sm-block{display:block;}	
}

/* tablet, landscape iPad,
 lo-res laptops ands desktops */ 
@media (min-width:961px) {
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}

	.d-md-none{display:none;}
	.d-md-block{display:block;}	
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

	.d-lg-none{display:none;}
	.d-lg-block{display:block;}	
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}  

/* =========================================	STYLE CSS AREA      ========================================= */

/*fonts*/
/*'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;700&display=swap');




body{
    font-family: 'Work Sans', sans-serif;
}
body a{
    color: #000;
}


/*              HEADER CSS AREA                 */
header a{
    font-size: 1.0em;
    font-weight: 500;
    color: #cf2c30;

}

header nav ul li{
    text-align: center;
    margin-top: 22px;
}

#logo img{
    width: 58px;
    margin-left: 4em;
}

/*              MAIN CSS AREA                   */

    .migas{
        font-size: 0.7em;
        float: left;
    }

    .title{
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
    }
    .sub-title{
        text-align: center;
        font-size: 0.8em;
    }

    .img-g{
        width: 100%;
        height: 250px;
    }

    .text-title{
        text-align: center;
        font-size: 0.7em;
    }
    .text-price{
        font-size: 1em;
        font-weight: 600;   
    }
    .text-colors, .size{
        font-size: 0.7em;
    }
    .right{
        /* margin-left: 85%; */
        padding-left: 34%;
    }
    .left{
        padding-left: 2%;
    }
    .bold{
        font-size: 0.8em;
        font-weight: 700;
    }
    .filter, .text-colors{
        color: gray;
    }

    /*  Newsletter   */
    #newsletter p{
        text-align: center;
    }
    .link-newsletter{
        text-align: center;
        color: #fff;
        padding: 5px 80px;
        background-color: #cf2c30;
        border-radius: 3px;
    }

/*              FOOTER CSS AREA                 */

footer{
    background-color: #cf2c30;
}
footer a{
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	color: #fff;
}
footer section ul{
	list-style: none;
}

.holatitulo{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
}

.jajaxd {
	margin: 10px 0;
	color: #fff;
}

.p-footer, .p-fuente, .copy{
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	color: #fff;
}

.copy{
	font-size: 10px;
}

.icons{
	color: #fff;
		size: 12px;
}