/*image-selection*/
#product-image {
    display: flex;
}
 
#images-column {
    width: 5em;
    border: 1px black solid;
}
#arrow-left img, #arrow-right img {
    width: 1.5em;
}
/*product-image*/
#product-image {
    flex: auto;
}
#product-image img {
    margin: auto 0;
}
/*arrows*/
#arrow-left {
    margin: auto 0.5em;
    flex: 5%;
}
#arrow-left img {
    transform: rotate(180deg);
}
#arrow-right {
    margin: auto 0.5em;
    flex: 5%;
}
/*image-display*/
#product-selection {
    display: flex;
}

/*product-containers*/
#product-left {
    display: flex;
    padding-bottom: 10%;
}
#product-right {
}
 
/*product-right*/
#product-data * {
}
#product-data h2, #product-price {
    font-size: 2em;
}
#product-price {
    margin: 0.5em 0;
}
#serial-num {
    font-size: 1em;
}
/*color-list*/
#color-list ul{
    display: flex;
}
#color-list li {
    margin: 0 0.1em;
}
#color-list li img {
    width: 100%;
}
