/*image-selection*/
#product-image {
    display: flex;
}
 
#images-column {
    width: 5em;
    border: 1px black solid;
}
#arrow-left img, #arrow-right img {
    width: 1.5em;
}
/*product-image*/
#product-image {
    flex: auto;
}
#product-image img {
    margin: auto 0;
}

/*arrows*/
#arrow-left {
    border: 1px black solid;
    margin: auto 0;
    flex: 5%;
}
#arrow-left img {
    transform: rotate(180deg);
}
#arrow-right {
    border: 1px black solid;
    margin: auto 0;
    flex: 5%;
}
/*image-display*/
#product-selection {
    display: flex;
}
#product-left {
    display: flex;
    flex: 3;
}
#product-right {
    flex: 3;
}
